@font-face {
    font-family: 'Joystix';
    src: url('../styles/Fonts/joystix monospace.otf');
    font-weight: normal;
    font-style: normal;
}

.hero {
    margin-left: -8px;
    margin-right: -16px;
    margin-top: -8px;
    background-color: green;
    height: 100vh;
    width: 99.2vw;
}

.Image {
    width: 99.2vw;
    height: 100vh;
}

.grey {
    position: relative;
    z-index: 1;
    top: -101.20vh;
}

.greybox {
    height: 100.75vh;
    width: 22.5%;
    background-color: #6F6F6F;
    opacity: 0.75;
}

.greyboxText {
    position: absolute;
    top: 1%;
    width: 18%;
    padding-left: 2%;
    font-family: Joystix;
    font-size: 8.25vh;
    font-weight: bold;
    opacity: 1;
}

.GreenIT {
    color: #2F9316;
}

.greenbox button{
    background-image: url('../styles/pictures/Button_hell.png');
    position: absolute;
    top: 75%;
    margin-left: 4%;
    height: 10vh;
    width: 12.5vw;
    color: white;
    font-size: 2.5vh;
    font-family: Joystix;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.greenbox button:hover {
    background-image: url('../styles/pictures/Button_dunkel.png');

}

.greenboxText {
    position: absolute;
    top: 10%;
    left: 25%;
    font-family: Joystix;
    font-size: 24px;
    color: #FFFFFF;
}