.commentsSection {
    position: relative;
    left: -8px;
    width: 98.72%;
    padding: 20px;
    background-color: #313338;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.commentsSection h2 {
    font-size: 24px;
    font-family: Joystix;
    margin-bottom: 15px;
}

.commentsSection ul {
    list-style: none;
    padding: 0;
}

.comment {
    margin-bottom: 15px;
    background-color: #41444B;
}

.username {
    font-weight: bold;
    font-size: 18px;
    font-family: Joystix;
    margin-bottom: 5px;
}

.commentText {
    font-size: 16px;
    font-family: Joystix;
    line-height: 1.5;
}

.addComment {
    margin-top: 20px;
}

.addComment h3 {
    font-size: 20px;
    font-family: Joystix;
    margin-bottom: 10px;
}

.addComment input[type='text'],
.addComment textarea.customTextarea,
.addComment button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Joystix;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.addComment input[type='text'] {
    margin-bottom: 15px;
}

.addComment textarea.customTextarea {
    min-height: 120px;
    resize: none;
}

.addComment button {
    background-image: url('../styles/pictures/Button_hell_blau.png');
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addComment button:hover {
    background-image: url('../styles/pictures/Button_dunkel_blau.png');
}

.commentList {
    list-style: none;
    padding: 0;
}

.comment {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.username {
    font-weight: bold;
    color: #FFFFFF;
}

.commentText {
    color: #FFFFFF;
}
