.quiz-container {
    margin-left: -8px;
    margin-top: -32px;
    background-color: #313338;
    height: 110vh;
    width: 99.2vw;
}

.quiz-container h1{
    font-family: Joystix;
    color: #FFFFFF;
    font-size: 5vh;
}

.progress {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.progress span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.question {
    margin-bottom: 20px;
    font-family: Joystix;
    color: #FFFFFF;
    border-top: #6F6F6F 2px solid;
    border-bottom: #6F6F6F 2px solid;
    margin-top: 4vh;
    text-align: center;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.button {
    background: url('../styles/pictures/Cloud_Idle.png') no-repeat center center;
    background-size: 50%;
    border: none;
    outline: none;
    padding-top: 20vh;
    padding-bottom: 20vh;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Joystix;
}

.button:disabled {
    cursor: not-allowed;
}

.register-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.register {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.register span {
    padding: 0.5%;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
    font-family: Joystix;
}

.active {
    font-weight: bold;
}

.CloudIncorrect {
    background: url('../styles/pictures/Cloud_Wrong.png') no-repeat center center;
    background-size: 50%;
}

.CloudCorrect {
    background: url('../styles/pictures/Cloud_Right.png') no-repeat center center;
    background-size: 50%;
}

.Ende {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-family: Joystix;
    padding-top: 20vh;
    font-size: 5vh;
}

.positionButton {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
}

.restart-button {
    position: absolute;
    background-image: url('../styles/pictures/Button_hell_blau.png');
    cursor: pointer;
    height: 15vh;
    width: 25vw;
    color: #FFFFFF;
    font-family: Joystix;
    font-size: 2vw;
}

.restart-button:hover {
    background-image: url('../styles/pictures/Button_dunkel_blau.png');
}